#recommend-content{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

#recommend-content-desc{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 5px;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

#recommend-content-img {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

#recommend-content-img img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: top;
}

#recommend-content-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    pointer-events: none; /* Ensures the overlay doesn't interfere with any interactions */
}

#recommend-content-desc-name{
    font-size: xxx-large;
    font-weight: 700;
    margin-bottom: 60px;
}
#recommend-content-desc-info{
    margin-bottom: 60px;
}

#recommend-content-desc-rate{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 24px;
}

#recommend-content-desc-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn-recommend, .rate-recommend{
    margin: 0px 12px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.btn-recommend{
    width: 90px;
    height: 40px;
}

.rate-recommend{
    color: grey;
}

#play-btn, #review-btn{
    cursor: pointer;
    background-color: #FF7A08;
    border-radius: 15px;
}

#play-label, #review-label{
    font-size: medium;
    font-weight: bold;
}

#play-icon{
    width: 16px;
    height: 16px;
    background-image: url('../../../assets/play_icon.png');
    background-size: cover;
}

#add-list-btn{
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    width: 116px;
}

#add-list-label{
    font-size: medium;
    font-weight: bold;
    color: black;
}

#add-list-icon{
    width: 16px;
    height: 16px;
    background-image: url('../../../assets/addList_icon.png');
    background-size: cover;
}